@import url("https://delta-ui-preview.netlify.app/library/component.css");

.page-wrap {
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;

    display: grid;

    grid-auto-columns: 15rem 15rem 1fr 1fr 1fr 1fr;
    grid-auto-rows: 7.5rem 7.5rem auto auto;
    
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'sidebar sidebar content content content content'
    'sidebar sidebar content content content content'
    'sidebar sidebar footer footer footer footer';
}

.page-nav {
    grid-area: nav;

    display: flex;
    align-items: center;

    background-color: var(--light-theme);
}

.nav__logo {
    flex-grow: 1;
    margin: auto;
    text-align: center;
    color: var(--primary-color-p2);
}

.nav__search {
    width: 24.75%;
}

.nav__actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* sidebar Starts */
.page-sidebar {
    grid-area: sidebar;
    background-color: var(--light-theme);
}


/* content */
.main-content {
    grid-area: content;

    overflow: scroll;
}

/* footer */
.footer {
    grid-area: footer;
}
