/* sidebar Starts */
.sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--light-theme);
    display: flex;
    flex-direction: column;
}

.sidebar__fliter {
    display: flex;
    margin-bottom: 2.4rem;
}

.sidebar__fliter button {
    margin-left: auto;
}

.sidebar__price {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
}

.sidebar__category {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
}

.sidebar__category p {
    margin-bottom: 0.8rem;
}

.sidebar__rating {
    display: flex;
    flex-direction: column;
}

.sidebar__rating p {
    margin-bottom: 0.8rem;
}

.sidebar__sort-by {
    display: flex;
    flex-direction: column;
}

.sidebar__sort-by p {
    margin-bottom: 0.8rem;
}

/* sidebar Ends */